[build]
  command = "npm run build"
  publish = ".next"

[build.environment]
  NODE_VERSION = "18"
  NEXT_TELEMETRY_DISABLED = "1"

# Next.js SSR ve API rotaları için
[[plugins]]
  package = "@netlify/plugin-nextjs"
